.title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 20px;
}
.infoWrapper {
  display: flex;
  gap: 16px;
  font-size: 14px;
  p {
    margin-bottom: 12px;
  }
}
.tagBlock {
  width: fit-content;
}

.tag {
  white-space: nowrap;
  color: var(--light-gray);
}
