.wrapper {
  width: 100vw;
}

.main-section {
  height: 100%;
  display: flex;
  gap: 24px;
  padding: 32px 20px;
}

.filmsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
